.color {
    color: red;
}
.add-button{
    width: 100%;
}
.delete-button{
    width:100%;
}
#todo-list{
    list-style: none;
}
#todo-list li:nth-child(2n+1){
    background: aliceblue;
}
#todo-list-item{
    display: flex;
    justify-content: space-between;
    
}
.abc{
    background: antiquewhite;
    border: 2px solid #e1d6d6;
    margin-top: 45px;
}
